@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.blob {
  background-image: url(../assets/blob1.svg);
  background-repeat: no-repeat;
  background-position: -209px 200px;
  background-size: 1217px 750px;
}

.searchIcon {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.text_font {
  font-family: "Poppins", sans-serif;
}

.carousel .slide img {
  width: auto !important;
}

.carousel img {
  width: auto !important;
}
